body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.background {
  background-image: url('https://images.pexels.com/photos/1182338/pexels-photo-1182338.jpeg?cs=srgb&dl=pexels-fotios-photos-1182338.jpg&fm=jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
